{{!-- {{outlet}} --}}
<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome!</h2>
  <p>We hope you find exactly what you're looking for in a place to stay.</p>
  {{#link-to "about" class="button"}}
    About Us
  {{/link-to}}
</div>
{{!-- <ListFilter @filter={{action "filterByCity"}} as |filteredResults|>
  <ul class="results">
    {{#each filteredResults as |rentalUnit|}}
      <li><RentalListing @rental={{rentalUnit}} /></li>
    {{/each}}
  </ul>
</ListFilter> --}}
{{outlet}}

{{!-- {{#each this.model as |rentalUnit|}}
  <RentalListing @rental={{rentalUnit}}/>

{{/each}} --}}