{{!-- {{yield}} --}}
<article class="listing">

  <a
    onclick={{action "toggleImageSize"}}
    class="image {{if this.isWide 'wide'}}"
    role="button"
  >
    <img src={{this.rental.image}} alt="" />
    <small>View Larger</small>
  </a>
  <div class="details">
    {{!-- <h3>{{this.rental.title}}</h3> --}}
    <h3>{{#link-to "rentals.show" rental class=rental.id}}{{this.rental.title}}{{/link-to}}</h3>
    <div class="detail owner">
      <span>Owner:</span>
      {{this.rental.owner}}
    </div>

    <div class="detail type">
      {{!-- <span>Type:</span>
      {{this.rental.category}} --}}
      <span>Type:</span>
      {{rental-property-type this.rental.category}}
      -
      {{this.rental.category}}
    </div>

    <div class="detail location">
      <span>Location:</span>
      {{this.rental.city}}
    </div>
    <div class="detail bedrooms">
      <span>Number of bedrooms:</span>
      {{this.rental.bedrooms}}
    </div>
  </div>
   <LocationMap @location={{this.rental.city}} />
</article>